body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: #a29f87;
  min-width: 1000px;
  background: url(../codea/images/body-bg.jpg) center top repeat #fff;
  z-index: -1;
}
.main {
  width: 1000px;
  padding: 0;
  margin: 0 auto;
  font-size: 0.8125em;
  line-height: 1.3846em;
}
.game-container {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  justify-content: center;
  perspective: 500px;
}

.box-note {
  font-size: x-large;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
.image-carousel {
  display: flex;
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: relative;
  margin-left: 59px;
}
.box-1 {
  height: 100%;
  box-sizing: border-box;
}

.box-1-2 {
  position: relative;
  object-fit: contain;
  padding: 5px;
  margin: 10px;
}
._box {
  position: relative;
}
._box {
  height: 100%;
  box-sizing: border-box;
}

._box-1 {
  position: relative;
}
._box-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
}
.overlay-text .visible {
  z-index: 100;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000;
  transition: backgroud-color 500ms, font-size 500ms;
}
.overlay-text {
  display: none;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  background: content-box radial-gradient(rgb(237, 217, 221),rgb(23, 22, 22));
}
.p-box {
  width: 100%;
  padding-top: 100%;
}

.mask {
  background: content-box radial-gradient(rgb(237, 217, 221), skyblue);
  border-color: #0029f4;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: pointer;
  position: absolute;
  /* background-color: #a29f87;- */
  opacity: 0;
  transition: all 0.5s;
}
.hidden {
  opacity: 0.5;
}

.loss {
  justify-content: center;
  align-items: center;

  color: #030303;
}

.overlay-text {
  z-index: 100;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  font-size: 2em;
  font-family: sans-serif;
  transition: background-color 500ms, font-size 500ms;
}

.overlay-text-small {
  font-size: 0.3em;
}

._button {
  padding: 8.9px 11px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  width: 50%;
  margin-bottom: 15px;
  margin-left: 50px;
}
.overlay-text.visible {
  display: flex;
  animation: overlay-grow 500ms forwards;
}
